arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
binaryornot==0.4.4
Brotli @ file:///work/perseverance-python-buildout/croot/brotli-split_1698805593785/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
cookiecutter==2.6.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
fonttools==4.25.0
fsspec @ file:///work/perseverance-python-buildout/croot/fsspec_1701733420687/work
h5py @ file:///work/perseverance-python-buildout/croot/h5py_1698847362801/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1698845632828/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1709821103657/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1708996548741/work
ipython @ file:///croot/ipython_1704833016303/work
jedi @ file:///work/perseverance-python-buildout/croot/jedi_1698864582475/work
Jinja2 @ file:///work/perseverance-python-buildout/croot/jinja2_1707343043683/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1710255804825/work
jupyter_core @ file:///work/perseverance-python-buildout/croot/jupyter_core_1701731747496/work
kiwisolver @ file:///work/perseverance-python-buildout/croot/kiwisolver_1698847502605/work
markdown-it-py==3.0.0
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
matplotlib @ file:///work/perseverance-python-buildout/croot/matplotlib-suite_1698863180732/work
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mdurl==0.1.2
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
munkres==1.1.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///work/perseverance-python-buildout/croot/networkx_1698865062738/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
openpyxl==3.1.2
packaging @ file:///work/perseverance-python-buildout/croot/packaging_1698805390494/work
pandas==2.2.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///croot/pillow_1707233021655/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyfiglet==1.0.2
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
pyparsing @ file:///work/perseverance-python-buildout/croot/pyparsing_1698847881454/work
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-slugify==8.0.4
pytz==2024.1
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
requests @ file:///croot/requests_1707355572290/work
rich==13.7.1
scipy==1.12.0
setuptools==68.2.2
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy @ file:///croot/sympy_1701397643339/work
text-unidecode==1.3
torch==2.2.0
torchaudio==2.2.0
torchdiffeq==0.2.3
torchvision==0.17.0
tornado @ file:///work/perseverance-python-buildout/croot/tornado_1698866362018/work
tqdm==4.66.2
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1698846387632/work
types-python-dateutil==2.9.0.20240315
typing_extensions @ file:///croot/typing_extensions_1705619912070/work
tzdata==2024.1
urllib3 @ file:///croot/urllib3_1707770551213/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wheel==0.41.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
